<%- include('./common/head.ejs') %>
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <h1>Hi! This is main world!!</h1>
</body>

<%- include('./common/end.ejs') %>
