<%- include('../common/head.ejs') %>
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <div class="box" style="margin-top: 2rem;">
    <form class="login-form" action="/login" method="post">
      <h2>회원 로그인</h2>
      <div class="form-control">
        <label for="email">아이디(이메일)</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="form-control">
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="form-control">
        <button type="submit">로그인</button>
      </div>
    </form>
    <hr>
    <div class="form-control">
      <a href="/forgotpassword">비밀번호 찾기</a>
    </div>
  </div>
  <a id="signup" href="/signup">회원가입</a>
<%- include('../common/end.ejs') %>
