<body>
  <div>
    <form action="/login" method="post">
      <div>
        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
